:root {
    --white: #f8fafc;
    --blue: #0079ff;
    --clear: #4b6a9b;
}

body {
    background-color: var(--white);
    color: black;
}

body.dark {
    background-color: #1e1e1e;
    color: var(--white);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.theme-toggle {
    display: flex;
    align-items: center;
    gap: .5rem;

    background: transparent;
    border: none;
    cursor: pointer;
}

span {
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 0.7rem;
    line-height: 140%;
    letter-spacing: 2.5px;
    color: var(--clear);
}

.planet-nav {
    padding: 2rem 2.9rem;
}

.search-box {
    display: flex;
    align-items: center;

    background: var(--white);
    border-radius: 10px;
    overflow: hidden;
}

.search-box i {
    padding: 0 1rem;
    color: var(--blue);

}

.search-box input {
    flex: 1;

    border: none;
    outline: none;
    padding: 1rem;
   
}

.search-box input::placeholder {
    font-family: "Space Mono";
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 150%;
    color: var(--clear);


}

.search-box button {
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    color: var(--white);
    background-color: var(--blue);
    font-family: "Space Mono";
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
}